@import "../../../../assets/variables.scss";
.header-container {
  position: absolute;
    top: 0px; /* Adjust the top position as needed */
    left: 0px; /* Adjust the left position as needed */
    right: 0px;
    background-color: $primary;
    color: $primary-color;
    font-family: $font-family;
  .spacer {
    flex: 1; /* Pushes the button to the right */
  }
}
.button-container {
    position: absolute;
    top: 70px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    display: flex;
    flex-direction: row;
  }

  .map-button {
    background: #05B9FF;
    border: 2px solid #FF0B0B4D;
    margin-left: 5px;
    margin-bottom: 10px; /* Adjust the spacing between buttons */
    border-radius: 30px;
    padding: 5px 15px 5px 15px;
    cursor: pointer;

    img {
      width: 30px; /* Adjust the button image size */
      height: 30px; /* Adjust the button image size */
    }
  }
  /* Define a custom CSS class for the popup */
.custom-popup {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  max-width: 200px;
  text-align: center;
}

/* Style any interactive elements inside the popup */
.custom-popup button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.search-input {
  direction: rtl;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  margin-right: 20px;
}

.user-dropdown {
  display: flex;
  align-items: center;
  cursor: pointer;

  .username {
    direction: rtl;
    margin-right: 10px; // Adjust the spacing as needed
  }

  .dropdown-icon {
    font-size: 24px; // Adjust the icon size as needed
  }
}