@import "../../../../assets/variables.scss";

.example-header {
  background-color: #333;  // Background color for the header
  color: #fff;  // Text color

  .col-6 {
    padding: 10px;  // Add padding to the columns
  }

  mat-form-field {
    input.matInput {
      background-color: #444;  // Input field background color
      color: #fff;  // Input text color
      border: none;  // Remove input border

      &::placeholder {
        color: #ccc;  // Placeholder text color
      }
    }
  }

  .breadcrumb-list {
    list-style: none;  // Remove list bullets
    display: flex;
    flex-direction: row-reverse;
    .bcrumb-1 {
      text-align: center;

      div {
        &.center-text {
          text-align: center;
        }

        .add-school-button {
          background-color: #0074b5;
          color: #fff;
          border: none;
          padding: 10px 20px;
          cursor: pointer;
          border-radius: 5px;
        }
      }
    }
  }
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 100px 22px 0px 70px;
}

.example-header {
  min-height: 30px;
  height: 90px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
.main-btn {
  background: #2E4268 !important;
  border-radius: 50px !important;
  border: 1px solid #2E4268 !important;
  width: 100px;
  height: 36px;
  color: #fff;
}
