// Temporary Used Palette Variables
$font-family: "Nunito Sans";
$font-style: normal;

$primary : #2E4268;
$primary-color: white;
$main-bg: #ededed; /* #C9C9C9 */
$profile-bg: #f5f4f4;
$text-color: #272727;
$sub-text: #848484;
//table
$tbl-heading: #343A40;
$tbl-data: #6C757D;
$incom-button: #FFAE124D;
$com-button: #0CAE3A4D;
$com-text: #299E00;
$incom-text: #FFAE12;
$rejected-text: #FF0B0B;
$let-text:#05B9FF;
$select-text: #A6A6A6;
// timer
$timer: #EB4747;

//card heading
$card-heading: #212121;
